body {
    margin: 0;
    font-family: 'Verdana', sans-serif;
}


/* obrazek w tle - startowy */

#background {
    background-image: url(../obrazy/man-1.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}


/* napisy startowe */

.headers {
    vertical-align: center;
    text-align: left;
    color: white;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    margin-left: 50px;
}


/* responsywność obrazka i tekstu powyżej 1170px */

@media (min-width: 1170px) {
    #background {
        width: 100%;
    }
    .text1 {}
    .text2 {
        font-size: 1.4em;
    }
}


/* responsywność obrazka i tekstu dla 992-1170px*/

@media (max-width: 1170px) and (min-width: 992px) {
    #background {
        background-image: url(../obrazy/man-2.jpg);
        height: 70%;
    }
    .headers {
        transform: translateX(60%);
        top: 10%;
    }
    .text1 {
        font-size: 0.7em;
    }
    .text2 {}
}


/*    responsywność poniżej 992px */

@media (max-width: 992px) {
    #background {
        background-image: url(../obrazy/man-1.jpg);
        height: 50%;
        display: inline-block;
    }
    #background .headers {
        text-align: center;
        color: black;
        top: 100%;
        margin: 0;
    }
    .text1 {
        font-size: 0.7em;
    }
    .text2 {
        font-size: 1em;
    }
}